# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# MLflow logs (very large)
mlruns/

# OS files
.DS_Store
Thumbs.db

# Jupyter checkpoints (if any)
.ipynb_checkpoints/

# Temporary files
*.log